body{
color: #26004d;
background-color: #cc99ff;
}

h1,h2,h3,h4,h5{
 color:#7300e6;


}

#id1{
font-style: italic;	
}

a
{
text-decoration: none;
}

a:hover
{
text-decoration:underline;
}
 p::first-letter {
        float: left;
        font-size: 1.5em;
        margin: 0 .1em 0 0;
        line-height: 0.5;
      }

